/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #4b4b4b;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --navbar-color: #f8f9fa; /* Color del navbar */
    --navbar-border-color: #e0e0e0; /* Color de borde del navbar */

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: Arial, sans-serif;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --navbar-color: #343a40; /* Color del navbar en modo oscuro */
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 1px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1000;
    color: #ff0c0c;
}

.sidebar.close {
    width: 80px;
}

.sidebar li {
    height: 60px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .icon,
.sidebar .nav-text {
    color: #000000;
}

.sidebar .icon {
    min-width: 50px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    transition: var(--tran-03);
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .toggle {
    position: absolute;
    top: 24px;
    right: 25px;
    transform: translateY(-50%) rotate(180deg);
    height: 30px;
    width: 30px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: #00947E;
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

/* ===== Navbar ===== */
.navbar {
    background-color: #00947E;
    border-bottom: 1px solid var(--navbar-border-color);
}

.navbar .brand-title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.brand-title:hover {
    color: #000000;
}

/* ===== Home Section ===== */
.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow-x: hidden;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
.icono-eliminar {
    color: #ffffff !important;
    background-color: #DC3545; /* Rojo */
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}

.icono-editar {
    color: #ffffff !important;
    background-color: #EDC30F; /* Azul */
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}

.icono-asignar {
    color: #ffffff !important;
    background-color: #6235DC; /* Naranja */
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}

.icono-ver-libro {
    color: #ffffff !important;
    background-color: #2AB27B; /* Verde */
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}

.icono-ver {
    color: #ffffff !important;
    background-color: #2AB27B; /* Verde */
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}