<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="../statics/css/styleLogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="login">
    <div class="login-container">
        <!-- Fase 1: Validación de correo -->
        <div id="fase1" class="login-form">
            <h1 class="login-title">Bienvenido</h1>
            <form id="emailForm" method="POST">
                {% csrf_token %}
                <div class="input-group animate-fade-in">
                    <label for="email" class="input-label">Correo electrónico</label>
                    <input type="email" id="email" name="email" class="input-field" placeholder="Ingresa tu correo" required>
                </div>
                <button id="nextStep" type="submit" class="btn-submit animate-fade-in">
                    <span>Siguiente</span>
                    <span id="spinner-email" style="display:none;" class="fa fa-spinner fa-spin"></span>
                </button>
                <div id="error-message" style="display:none; color:red; text-align:center; margin-top:10px;">Correo no válido</div>
            </form>
        </div>

        <!-- Fase 2: Validación de contraseña -->
        <div id="fase2" class="login-form" style="display: none;">
            <h1 class="login-title">Bienvenido, <span class="email-text" id="displayEmail"></span></h1>
            <form id="fase2Form" method="POST">
                {% csrf_token %}
                <div class="input-group animate-fade-in">
                    <label for="password" class="input-label">Contraseña</label>
                    <input type="password" id="password" name="password" class="input-field" placeholder="Ingresa tu contraseña" required>
                </div>
                <button id="signIn" type="submit" class="btn-submit animate-fade-in">
                    <span id="btnText">Iniciar sesión</span>
                    <span id="spinner-password" style="display:none;" class="fa fa-spinner fa-spin"></span>
                </button>
                <div id="error-container" style="color:red; text-align:center; margin-top:10px; display:none;">Contraseña incorrecta</div>
            </form>
        </div>
    </div>

<script src="../statics/js/scripts.js"></script>
</body>
</html>
